/Number Frequency/nbproject/private/
/Number Frequency/build/
/Consecutive Numbers/nbproject/private/
/Consecutive Numbers/build/
/Erase the Data/nbproject/private/
/Erase the Data/build/
/Sentence Maker/nbproject/private/
/Sentence Maker/build/
/Island Hopping/nbproject/private/
/Your Shift is Over/nbproject/private/
/Your Shift is Over/build/
/Array Filter/nbproject/private/
/Array Filter/build/
/Lets Make a Call/nbproject/private/
/Lets Make a Call/build/
/Island Hopping/build/
